# Ignorar arquivos temporários e compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Ignorar o arquivo de banco de dados (o binário), mas permitir a pasta
*.db

# Ignorar ambientes virtuais (se houver)
venv/
.env

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db