# Ignorar arquivos temporários e compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Ignorar banco de dados (o setup_db.py cria um novo para quem baixar)
*.db

# Ignorar ambientes virtuais (se houver)
venv/


# Ignorar arquivos de sistema
.DS_Store
Thumbs.db